body {
    overflow-x: hidden;
}
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: white;
    border-bottom: 1px solid rgb(219,219,219);
    z-index: 10;

}
.nav-container {
    position: relative;
    width: 100%;
    max-width: 975px;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.nav-header {
    margin-right: auto;
    margin-left: 0;
    width: 103px;
}
.nav-logo {
    height: 20px;
    padding-right: 10px;
    border-right: 1px solid #333;

}
.nav-heading {
    max-height: 30px;
    padding: 2px 10px;
    color: black;
}
.search {
    position: relative;
    width: 268px;
    height: 36px;
    text-align: left;
    text-transform: capitalize;
    border: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}
.search input {
    width: 268px;
    height: 36px;
    border: none;
    background: rgb(219,219,219);
    border-radius: 8px;
    position: relative;
    padding: 1em;
}
.search input:focus {
    outline: none;
}
.nav-items {
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 24px;
    margin-right: 5px;
}

.nav-links {
    height: 100%;
    cursor: pointer;
    margin: 0 12px;
    display: inline-block;
    color: black;
}
.dropdown {
    margin: 0 10px;
    position: relative;
    z-index: 1000;
}
@media screen and (min-width: 1000px){

    .search {
        left: 60px;
    }
}
@media screen and (max-width: 700px){
    .search {
        width: 35vw;
    }
    .search input {
        width: 35vw;
    }
}
@media screen and (max-width: 640px){
    .search {
        display: none;
    }

}
/* end Navbar */

 /* Home Container */
.home-container {
    width: 100vw;
    height: inherit;
    align-items: center;
    margin-top: 5em;
    position: inherit;

}
.all {
    width: 100vw;
    position: relative;
    max-width: 975px;
    gap: 10px;
    justify-items: center;
    top: 0;
    z-index: 0;
    padding:0 1%;
    align-items: center;
    display: grid;
    grid-template-columns: 620px 300px;
    grid-template-rows: auto;
    row-gap: 0;
}
.status-container {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    width: 100%;
    max-width: 620px;
    height: 8.26em;
    border: 1px solid rgb(219,219,219);
    margin: 0 auto;
}
.status-container .profile-wrapper::-webkit-scrollbar{
    display: none;
}
.status-container .profile-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    transition: 0.5s;
 }
.status-container .profile {
    position: relative;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: 0.5s;
    margin-left: 1.5em;
}
.status-container > .profile-wrapper .profile > .profile-content {
    /*background-color: #5c636a;*/
    font-size: 0.8em;
    text-align: center;
    margin: 20px 0 10px 0;
    width: 80px;
    max-height: 85px;
    padding:  0 7px;
    display: block;
}
.status-container   > .profile-wrapper .profile > .profile-content .profile-img {
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
    max-width: 65px;
    margin-bottom: 5px;
}
.status-container  > .profile-wrapper .profile > .profile-content  .profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
}
.status-container .left {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    display: block;
}
.status-container .right {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    display: block;
}
.left:hover , .right:hover {
    opacity: .5;
}
 /* side Container */
.side-container {
    grid-column: 2;
    width: 300px;
    height: 550px;
    position: fixed;
    top: 5.6em;
    padding: 10px 0;
    transform: translateX(105%);
    z-index: -1;
}
.side-container > .user > .profile {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    height: 6.5em;
    align-items: center;
}
.side-container .user .profile-img {
    /*background-color: #5c636a;*/
}
.side-container .user .profile-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 2px;
    text-align: left;
    height: 50px;overflow: hidden;
}
.side-container .user .profile-switch {
    font-size: 1em;
    margin-left: auto;
    margin-right: 0;
}
.side-container .suggestions {
    padding: 0px 0px;
    height: 325px;
}
.side-container .suggestions .suggestions-header {
    display: flex;
    z-index: 0;
}
.side-container .suggestions-all {

    font-size: 1em;
    margin-left: auto;
    margin-right: 5px;
    z-index: 0;
}
.side-container .suggestions .profile {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
}
.side-container .suggestions .profile-content {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin-left: 15px;
    text-align: left;
    align-content: center;
}
.side-container .suggestions .profile-switch {
    /*background-color: #5c636a;*/
    font-size: 1em;
    margin-left: auto;
    margin-right: 0;
}
@media screen and (max-width: 1000px) {
    .side-container {
        display: none;
    }
    .all {
        width: 100%;
        grid-template-columns: 100%;
    }
}
@media screen and (min-width: 1000px) {
    .all {
        margin-left: auto;
        margin-right: auto;
    }

}
.posts-container {
    grid-row: 2;
    width: 100%;
    max-width: 620px;
}
.posts-container .post {
    border: 1px solid rgb(219,219,219);
    margin-top: 1.5em;
}
.posts-container .user-details {
    background-color: white;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.posts-container .user-details .user-img {
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
    max-width: 39px;
}
.posts-container .user-details .user-name {
    color: #1c1f23;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 10px;
}
.posts-container .user-details .more {
    background-color: white;
    margin-left: auto;
    margin-right: 5px;
    font-size: 1.5em;
}
.posts-container .post-img img{
    width: 100%;
    max-width: 620px;
    max-height: 750px;
    overflow: hidden;
    object-fit: contain;
}
.posts-container .post-content {
    background-color: white;
    height: 100%;
    max-height: 215px;
    align-content: center;
}
.posts-container .post-content .post-response {
    padding: 10px;
    height: 54px;
}
.post-response button {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
}
.post-response i{
    font-size: 1.6em;
    margin-right: 10px;
    font-stretch: 100%;
}
.post-response .save {
    margin-right: 0;
    margin-left: auto;
}
.posts-container .post-content .likes {
    padding: 0 15px;
}
.posts-container .post-content .post-caption {
    padding: 0 15px;
}
.posts-container .post-content .post-comment {
    padding: 15px;
    align-items: center;
    height: 53px;
    border-top: 1px solid rgb(219,219,219);
}
.post-comment span {
    height: inherit;
    font-size: 1.6em;
}
.post-comment .post-b {
    margin-left: auto;
    margin-right: 0px;
}
.post-comment .text {
    width: 500px;
    margin-left: 10px;

}
.post-comment .text input {
    width: 100%;
    outline: none;
    border: none;
}
.post-comment .post-b button {
    color: dodgerblue;
    border: none;
    background: none;
}
/* End Home Container */
/* profile page */
.profile-index {
    background-color: #5c636a;
    width: 100vw;
    height: inherit;
    align-items: center;
    margin-top: 5em;
    position: inherit;
}
